In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [3]:
df=pd.read_csv(r"C:\Users\jency\Downloads\TSLA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
1,2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
2,2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
3,2010-07-07,3.280000,3.326000,2.996000,3.160000,3.160000,34608500
4,2010-07-08,3.228000,3.504000,3.114000,3.492000,3.492000,38557000
...,...,...,...,...,...,...,...
2838,2021-10-08,796.210022,796.380005,780.909973,785.489990,785.489990,16711100
2839,2021-10-11,787.650024,801.239990,785.500000,791.940002,791.940002,14200300
2840,2021-10-12,800.929993,812.320007,796.570007,805.719971,805.719971,22020000
2841,2021-10-13,810.469971,815.409973,805.780029,811.080017,811.080017,14120100
2842,2021-10-14,815.489990,820.250000,813.349976,818.320007,818.320007,12203200

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
df.shape

(2843, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2843 entries, 0 to 2842
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2843 non-null   object
 1   Open       2843 non-null   float64
 2   High       2843 non-null   float64
 3   Low        2843 non-null   float64
 4   Close      2843 non-null   float64
 5   Adj Close  2843 non-null   float64
 6   Volume     2843 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 155.6+ KB

In [7]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
label_encoder=preprocessing.LabelEncoder()
df["Date"]=label_encoder.fit_transform(df["Date"])
df["Date"].unique()

array([   0,    1,    2, ..., 2840, 2841, 2842])

In [9]:
x=df[['Date','Open', 'High', 'Low', 'Close', 'Adj Close']]
x

      Date        Open        High         Low       Close   Adj Close
0        0    5.000000    5.184000    4.054000    4.392000    4.392000
1        1    4.600000    4.620000    3.742000    3.840000    3.840000
2        2    4.000000    4.000000    3.166000    3.222000    3.222000
3        3    3.280000    3.326000    2.996000    3.160000    3.160000
4        4    3.228000    3.504000    3.114000    3.492000    3.492000
...    ...         ...         ...         ...         ...         ...
2838  2838  796.210022  796.380005  780.909973  785.489990  785.489990
2839  2839  787.650024  801.239990  785.500000  791.940002  791.940002
2840  2840  800.929993  812.320007  796.570007  805.719971  805.719971
2841  2841  810.469971  815.409973  805.780029  811.080017  811.080017
2842  2842  815.489990  820.250000  813.349976  818.320007  818.320007

[2843 rows x 6 columns]

In [11]:
y=df[['Volume']]
y

        Volume
0     41094000
1     25699000
2     34334500
3     34608500
4     38557000
...        ...
2838  16711100
2839  14200300
2840  22020000
2841  14120100
2842  12203200

[2843 rows x 1 columns]

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
clf=RandomForestRegressor(n_estimators=10)
clf.fit(x,y)
y_pred=clf.predict(x_test)
score=r2_score(y_test,y_pred)
print(score)
a=mean_squared_error(y_test,y_pred)
print(a)

C:\Users\jency\AppData\Local\Temp\ipykernel_10648\848996807.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(x,y)

0.9464525801087407
43179713103198.945